{% extends 'base.html'%}

{% block head %}
<title>Home</title>

{% endblock %}

{% block body %}
<br>

<br>
<div class="">
    <div class="col-sm-8 mx-auto">

         <h1>Hier entsteht ein Prototyp </h1>
        <h3>zur Unterstützung des Schreibens <br> von Online-Rezensionen</h3>
        <hr>
        <p>
        <p>Ich würde mich sehr freuen, wenn du die folgenden Prototypen testen würdest,
            indem du eine Bewertung mit diesen Prototypen verfasst.</p>

        <p>Dabei ist unbedingt zu beachten, dass sich diese noch in der Entwicklung befinden.</p>

        <hr>

        <!-- Links für den Entwicklungsserver:
        <a class="btn btn-primary btn-lg" href='/start'> &#128640; Prototyp 1 </a>
        -->
        <a class="btn btn-primary btn-lg" href='/start'> &#128640; Prototyp 2 </a>

        <!-- Für die Online Links der Tests:
        <a class="btn btn-primary btn-lg" href='http://reviews.pythonanywhere.com/start'> &#128640; Prototyp 1 </a>
        <a class="btn btn-secondary btn-lg" href='http://reviews2.pythonanywhere.com/start'> &#128640; Prototyp 2 </a>
        -->
        {% endblock %}

        {% block progress %}0{% endblock %}
        {% block progress1 %}0{% endblock %}
        {% block progress2 %}0{% endblock %}
    </div>

</div>


